body {
    margin: 0px
}

.landing-container {
    flex-grow: 1;
}

.appbar {
    background: transparent !important;
    // background-color: rgba(220, 221, 225, 1.0) !important;
    box-shadow: none !important;
    position: absolute !important;
}

.image {
    margin-right: 20px !important;
    // flex: 1;
}

.title-flex1 {
    margin-left: 30px !important;
    flex: 1;
}