.background-image {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.landing-image {
    /* Set rules to fill background */

    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */

    width: 100%;
    height: auto;
    /* Set up positioning */

    position: fixed;
    top: 0;
    left: 0;

    filter: blur(1px) contrast(72%);
}

.landing-container {
    position: relative
}

.children {
    z-index: 1000;
    position: absolute;
}